{{ define "main"}}
<div data-w-id="{{.Params.id}}" class="all-page">
  <div class="abs-complete-cover"></div>

  <div class="sub-pages">
    <div class="b-tribute-white full">
      {{ partial "go-back.html"}}

      <div class="b-tribute-heading-top">
        <h1 class="h2-pages">{{.Params.pageTitle}}</h1>
      </div>
      <div class="b-intro-contact">
        <p>{{.Content}}</p>
      </div>
    <div class="b-testimony">
      {{range .Pages}}
      <div class="item-testimony">
        {{ partial "videoscript.html" .}}
      </div>
      {{end}}

    </div>
  </div>
</div>
{{end}}
