{{ define "main" }}
<div data-w-id="{{.Params.id}}" class="all-page">
<div class="abs-complete-cover"></div>

<div class="sub-pages">
  <div class="b-single-page-memoir">
    <div class="content-block top">
      <h1 class="h2-pages">{{.Params.testimonyHeading}}</h1>
      <div class="sm-txt-tribute black">by {{.Params.nameofTestifier}}, {{.Params.location}}.</div>
      <div class="share-this-div">
        <div class="txt-share">SHARE THIS</div>
        <div>
          <a href="#" class="soc-link">󰕄</a>
          <a href="#" class="soc-link">󰈌</a>
        </div>
      </div>
    </div>

    <div class="vid-top">
      {{$image := .Params.image}}
      {{$youtube := .Params.youtubeId}}
      {{$testimony := .Params.testimonyHeading}}
      {{$nameofTestifier := .Params.nameofTestifier}}
      {{$location := .Params.location}}
      {{with .Params.youtubeId}}
      <a href="#" class="lightbox-link w-inline-block w-lightbox">
        <div class="play-btn">
          <div>󰐊</div>
        </div><img src="{{$image}}" loading="lazy" sizes="(max-width: 991px) 80vw, 100vw" alt="" class="memoir-image">
        <div class="abs-lightbox">

        </div>

        <script type="application/json" class="w-json">{
      "items": [
      {
      "type": "video",
      "originalUrl": "https://www.youtube.com/watch?v={{$youtube}}",
      "url": "https://www.youtube.com/watch?v={{$youtube}}",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F{{$youtube}}%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D{{$youtube}}&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F{{$youtube}}%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "thumbnailUrl": "https://i.ytimg.com/vi/{{$youtube}}/hqdefault.jpg",
      "width": 940,
      "height": 528
      }
      ]
      }</script>

      </a>
      {{end}}
    </div>

    <div class="content-block">
      {{.Content}}
    </div>
    {{ partial "similar-memoirs.html" .}}
  </div>
</div>

</div>


{{end}}
