{{ define "main" }}
<div data-w-id="029ecbc3-3775-1dfe-66eb-1488bc92ecc8" class="all-page">
  <div class="abs-complete-cover"></div>
  <div class="sub-pages _404">
    <div class="b-container">
      <div class="flx-404"><img src="https://d3e54v103j8qbb.cloudfront.net/static/page-not-found.211a85e40c.svg" alt="" class="image">
        <h1 class="heading">Whoops, Wrong page!</h1>
        <div class="txt-404">Uh-oh, looks like thats the wrong URL. <a href="/">Click here</a> to go back to home.</div>
      </div>
    </div>
  </div>
</div>

{{end}}
